body {
  font-family: Arial, sna-serif;
  background_color: #f2f2f2;
  margin: 0;
  padding: 0;
}
form {
  margin: 20px;
  text-aglin: right;
}
select{
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border_radius: 4px;
}

